body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #050541, #b39d9d);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 40px 20px;
  color: #a7301b;
}

.container {
  background: rgba(255, 255, 255, 0.342);
  width: 90%;
  max-width: 400px;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

h1 {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

select,
input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ca0c0c;
  font-size: 14px;
  transition: 0.2s;
}

select:focus,
input:focus {
  border-color: #4e73df;
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.4);
}

button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  background: #4e73df;
  color: rgba(255, 255, 255, 0.767);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #2e59d9;
  transform: translateY(-2px);
}

#result {
  margin-top: 1.5rem;
}

.card {
  background: #f8f9fc17;
  padding: 1rem;
  border-radius: 8px;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1cc88a;
}

.error {
  color: red;
  font-weight: 500;
}

/* Animation */
.animate {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile optimization */
@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
}
